/* 正方形 */
#square {
  width: 0;
  height: 0;
  border-right: 50px solid #f00;
  border-left: 50px solid #0f0;
  border-top: 50px solid #00f;
  border-bottom: 50px solid #ff0;
  margin: 50px auto;
}

/* 梯形 */
#trapezoid {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border-right: 50px solid #f00;
  border-left: 50px solid #0f0;
  border-top: 50px solid #00f;
  border-bottom: 50px solid #ff0;
}

/* 五边形 */
#pentagon {
  margin: 50px auto;
  width: 54px;
  height: 0;
  border-top: 50px solid #00f;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  position: relative;
}
#pentagon::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 35px solid red;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  top: -85px;
  left: -18px;
}

/* 六边形 */
#hexagon {
  margin: 50px auto;
  width: 100px;
  height: 55px;
  background-color: red;
  position: relative;
}
#hexagon::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 25px solid #00f;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  top: -25px;
}
#hexagon::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  border-top: 25px solid #00f;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  top: 55px;
}